{% extends "base.html" %}

{% block title %}Index Page{% endblock %}

{% block content %}
<h2>Index Page</h2>
<ul>
<li><a href="{% url 'create_company' %}">Создать новуб компанию</a></li>
<li><a href="{% url 'create_flight' %}">Создать новый рейс</a></li>
<li><a href="{% url 'company_list' %}">Все авиа-компании</a></li>
<li><a href="{% url 'find_flights' %}">Поиск рейсов по городам</a></li>
<li><a href="{% url 'find_flights_data' %}">Поиск рейсов по городам и ДАТАМ</a></li>
    <li><a href="{% url 'airplanes' %}">Все самолеты</a></li>
    <li><a href="{% url 'flight_list' %}">Все рейсы</a></li>

</ul>
{% endblock %}